{% extends "base.html" %}



{% block content %}

<html lang="en">
<head>
<meta charset="utf-8">
<title>Matchmaker</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="css/custom.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Welcome to Matchmaker Job Site</h1>
            <p>In today's world internet is the most popular way of connecting with the people. At Matchmaker we match people with potential and compatible employers. at Matchmaker everyone can be both an employer and a Jobseeker.</p>
            <p><a href="http://127.0.0.1:8000/accounts/register/" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
        </div>
    </div>


   <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
            <i class="fa fa-plus" aria-hidden="true"></i>
                <h2>step 1</h2>
                <h3>Build Profile</h3>

   <p>After a sucessful login, you continue on to the Profile Builder section. This is the place that really separates us from the rest of the crowd; we use our world-renowned technology to get to know all about you so we can help find the job that best matches YOU.</p>
            </div>
            <div class="col-xs-6">
            <i class="fa fa-wpforms" aria-hidden="true"></i>
                <h2>Step 2</h2>
                <h3>Compatibilty ScoreCard</h3>
                <p>Compatibility Scorecard
			Based on the information you provide in the Profile Builder section, we use our technology to create your Compatibility Scorecard, which shows your compatibility based on your current job. We will also use this information to match you with job listings.</p>
    </div>
    	</div>
    	

    <div class="container-fluid">

        <div class ="row">
            <div class="col-xs-6">
	 <i class="fa fa-universal-access" aria-hidden="true"></i>

                <h2>Step 3</h2>
                <h3> Match Established</h3>
            <p>Job Match Found!Once you have found a job match, you can apply directly for the job, as well as view compatibility details and predicted job satisfaction with that specific company. You are also able to save a job listing you'd like to come back to later.</p>
            </div>

          <div class="col-xs-6">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h2>Step 4</h2>
                <h3>Job apply/JobPost</h3>
            <p>Job Match Found!Once you have found a job match, you can apply directly for the job, as well as view compatibility details and predicted job satisfaction with that specific company. You are also able to save a job listing you'd like to come back to later.</p>
            </div>
        </div>
        <hr>



 </body>
{% endblock %}